body{
    background-color: black;
}

div{
    width: 600px;
    margin: 0px auto;
    text-align: center;
}

img{
    width: 300px;
    
}

h1,p{
    color: white;
}

    
table{
    width: 100%;
    border:1px solid white;
    border-collapse:collapse
}
td,th{
    color:white;
    padding: 20px;
}

    

